@using ClientBaseControlWebApp.Resources
@using ClientBaseControlWebApp.Data.Enums;
@using ClientBaseControlWebApp.Data.Services;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@model ProcedureRecordViewModel


@{
	ViewData["Title"] = "Edit procedure";
	ViewData["ImagesDirectoryDepth"] = "../images";
}


<div class="row">
	<div class="col-md-8 offset-2">
		<div class="row">
			<div class="col-md-10 offset-1">
				<form asp-action="Edit">
					<div asp-validation-summary="ModelOnly" class="text-danger">
					</div>
					<div class="row bg-primary bg-opacity-50 p-2 ">
						<h1>@Resource.AddProcedureRecord @Resource.For @Model.Client.Name @Model.Client.Surname</h1>
					</div>
					<input hidden asp-for="Id">
					<input hidden asp-for="ClientId">
					<div class="row bg-lightBlue p-2 ps-3">
						<div class="form-group col-5">
							<label asp-for="ProcedureTypeId" class="control-label">@Resource.ProcedureTypeLabel</label>
							<select asp-for="ProcedureTypeId" class="form-select" id="ProcedureTypeId" value="@Resource.ChooseSelection">
								
								@foreach (ProcedureType procedureType in Model.AvailableProcedureTypes)
								{
									<option value="@procedureType.Id">@procedureType.Name</option>
								}
							</select>
							<span asp-validation-for="ProcedureTypeId" class="text-danger"></span>
						</div>
						<div class="form-group col-4">
								<label asp-for="Date" class="control-label">@Resource.DateLabel</label>
								<input type="date" asp-for="Date" class="form-control" id="Date" />
								<span asp-validation-for="Date" class="text-danger"></span>
						</div>
					</div>
					<div class="row bg-lightBlue p-2 ps-3">
						<div class="form-group col-12">
							<label for="materialSelect" class="control-label">@Resource.ChooseMaterial</label>
							<div class="col-12 d-flex">
								<div class="col-6">
									<select class="form-control" id="materialSelect">
										@foreach (Material material in Model.AvailableMaterials)
										{
											<option value="@material.Id">
											@material.Name
											</option>
										}
									</select>
								</div>
								<div class="col-6">
									<button type="button" id="addMaterialButton" class="btn btn-outline-primary"><i class="bi bi-journal-plus"></i> @Resource.AddMaterialToProcedure</button>
								</div>
							</div>
							<span id="alreadyAddedWarning" class="text-danger" style="display:none;">@Resource.MaterialAlreadyAdded</span>
						</div>
					</div>
					<div class="row bg-lightBlue p-2 ps-3 pb-4">
						<div class="form-group col-12">
							<label class="">@Resource.SelectedMaterials</label>
							<ul id="selectedMaterials" class="d-flex justify-content-start col-12 flex-wrap" style="list-style-type:none; padding:0;">
								@foreach (Material selecetedMaterial in Model.SelectedMaterials)
								{
									<div id="@string.Concat("material", selecetedMaterial.Id.ToString())" class="p-1 d-flex">
										<li class="bg-primary rounded-start-2 bg-opacity-75 p-2 pe-1 h6 text-light lh-base">
											@selecetedMaterial.Name
										</li>
										<button type="button" value="@selecetedMaterial.Id" class="bg-primary rounded-end-2 bg-opacity-75 btn pe-2 text-danger p-0 h6 lh-base" onclick="removeMaterial(this.value)"><i class="bi bi-x-circle h6 lh-base"></i></button>
									</div>	
								}
							</ul>
						</div>
					</div>

					@Html.HiddenFor(m => m.SelectedMaterialIds)

					<div class="row bg-lightBlue p-2 ps-3 pb-4">
						<div class="form-group">
							<label asp-for="Comment" class="control-label">@Resource.NoteLabel</label>
							<textarea asp-for="Comment" class="form-control" id="Comment" rows="2"></textarea>
							<span asp-validation-for="Comment" class="text-danger"></span>
						</div>
					</div>
					<div class="form-group mt-2">
						<a class="btn btn-outline-secondary" asp-controller="Clients" asp-action="Details" asp-route-id="@Model.ClientId"><i class="bi bi-arrow-left-circle"></i> @Resource.CancelButton</a>
						<button type="reset" class="btn btn-outline-warning roun" onclick="removeAllMaterials()"><i class="bi bi-arrow-clockwise"></i> @Resource.ResetButton</button>
						<button type="submit" class="btn btn-outline-success float-end"><i class="bi bi-check-circle"></i> @Resource.SaveButton</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
</script>

@section Scripts {
    <script>
		   var selectedMaterials = $('input[name="SelectedMaterialIds"]').val().split(",");

		      
           $('#addMaterialButton').click(function () {
				$('#alreadyAddedWarning').css('display', 'none');
                var selectedMaterialId = $('#materialSelect').val();
                var selectedMaterialName = $('#materialSelect option:selected').text();

                if (selectedMaterialId && !selectedMaterials.includes(selectedMaterialId)) {
					
                    selectedMaterials.push(selectedMaterialId);
                    $('input[name="SelectedMaterialIds"]').val(selectedMaterials.join(','));
				$('#selectedMaterials').append('<div id="material' + selectedMaterialId + '" class="p-1 d-flex"><li class="bg-primary rounded-start-2 bg-opacity-75 p-2 pe-1 h6 text-light lh-base">'
					+ selectedMaterialName +
					'</li><button type="button" value="' + selectedMaterialId + '" class="bg-primary rounded-end-2 bg-opacity-75 btn pe-2 text-danger p-0 h6 lh-base" onclick="removeMaterial(this.value)"><i class="bi bi-x-circle h6 lh-base"></i></button></div>');
                } else {
                    $('#alreadyAddedWarning').css('display', 'block');
                }
            });


			function removeMaterial(value){
			
				selectedMaterials = selectedMaterials.filter(m => m != value);
				$('input[name="SelectedMaterialIds"]').val(selectedMaterials.join(','));
				$('#material'+value).remove();
			}

			function removeAllMaterials(){
				selectedMaterials.forEach(materialId => {
					removeMaterial(materialId);
				});
			}

    </script>
}