@model Client

@{
	ViewData["Title"] = "Delete a client";
}


<div class="row">
		<div class="col-8 m-auto mt-3">
			<p>
				<h1>@ClientBaseControlWebApp.Resources.Resource.ClientDeleteConfirmation</h1>
			</p>
			<hr />
			<div class="row">
				<div class="h3">@Model.Name @Model.Surname @Model.IndicationColor</div>
				@if(Model.Birthday!=null){
					<div class="h4">@Model.Birthday.Value.ToShortDateString()</div>
				}
			</div>
			<div class="row">
				@if(Model.Email == null)
				{
					<div class="h5"><i class="bi bi-envelope-fill"></i> -</div>
				}else
				{
					<div class="h5"><i class="bi bi-envelope-fill"></i> @Model.Email</div>
				}

				@if (Model.PhoneNumber == null)
				{
					<div class="h5"><i class="bi bi-telephone-fill"></i> -</div>
				}
				else
				{
					<div class="h5"><i class="bi bi-telephone-fill"></i> @Model.PhoneNumber</div>
				}
			</div>
			<div class="row mt-3">
				<h4>@ClientBaseControlWebApp.Resources.Resource.ClientNumberOfProceduresLabel: @Model.NumberOfProcedures</h4>
			</div>
			<hr />
			<div class="mt-4">
				<form asp-action="Delete">
					<a class="btn btn-outline-secondary" asp-controller="Clients" asp-action="Index"><i class="bi bi-card-list"></i> @ClientBaseControlWebApp.Resources.Resource.ShowAllButton</a>
					<input type="hidden" asp-for="Id"/>
					<button class="btn btn-outline-danger float-end" type="submit" ><i class="bi bi-x-circle"></i> @ClientBaseControlWebApp.Resources.Resource.DeleteButton</button>
				</form>
		</div>
	</div>
</div>