@using ClientBaseControlWebApp.Resources
@model Client

@{
	ViewData["Title"] = "Delete a client";
	ViewData["ImagesDirectoryDepth"] = "../../images";
}


<div class="row">
		<div class="col-8 m-auto mt-3">
			<p>
				<h1>@Resource.ClientDeleteConfirmation</h1> 
			</p>
			<div class="align-items-center d-flex mb-0 bg-primary bg-opacity-50">
				<div class="h2 p-2 ps-3 mb-0 col-5"><b>@Model.Name @Model.Surname</b> @Model.IndicationColor</div>
			</div>
			<div class="bg-lightBlue ps-4 p-1 mt-0 mb-3">
				@if (Model.Birthday == null)
				{
					<div class="h5"><i class="bi bi-calendar-event-fill"></i> -</div>
				}
				else
				{
					<div class="h5"><i class="bi bi-calendar-event-fill"></i> @Model.Birthday.Value.ToShortDateString()</div>
				}
				@if (Model.Email == null)
				{
					<div class="h5"><i class="bi bi-envelope-fill"></i> -</div>
				}
				else
				{
					<div class="h5"><i class="bi bi-envelope-fill"></i> @Model.Email</div>
				}

				@if (Model.PhoneNumber == null)
				{
					<div class="h5"><i class="bi bi-telephone-fill"></i> -</div>
				}
				else
				{
					<div class="h5"><i class="bi bi-telephone-fill"></i> @Model.PhoneNumber</div>
				}
				<div class="h5"><b>@Resource.ClientNumberOfProceduresLabel:</b> @Model.NumberOfProcedures</div>
			</div>
			<form asp-action="Delete" >
				<input type="hidden" asp-for="Id"/>
				<button class="btn btn-outline-danger" type="submit" ><i class="bi bi-x-circle"></i> @Resource.DeleteButton</button>
				<a class="btn btn-outline-secondary float-end" asp-controller="Clients" asp-action="Index"><i class="bi bi-card-list"></i> @Resource.ReturnBack</a>
			</form>
		</div>
	</div>
</div>