@model ClientViewModel

@{
	ViewData["Title"] = string.Concat(Model.Client.Name, " ", Model.Client.Surname);
	ViewData["ImagesDirectoryDepth"] = "../../images";
}


<div class="row">
	<div class="col-8 m-auto mt-3">
		<div class="row align-items-center d-flex mb-0 bg-primary bg-opacity-50">
			<div class="h2 p-2 ps-3 mb-0 col-5"><b>@Model.Client.Name @Model.Client.Surname</b> @Model.Client.IndicationColor</div>
			<div class="col-7">
				<a class="btn btn-secondary" asp-controller="Clients" asp-action="Index"><i class="bi bi-card-list"></i> @ClientBaseControlWebApp.Resources.Resource.ShowAllButton</a>
				<a class="btn btn-primary" asp-area="" asp-controller="Clients" asp-action="Edit" asp-route-id="@Model.Client.Id"><i class="bi bi-pen"></i> @ClientBaseControlWebApp.Resources.Resource.EditButton</a>
				<a class="btn btn-danger float-end" asp-area="" asp-controller="Clients" asp-action="Delete" asp-route-id="@Model.Client.Id"><i class="bi bi-x-circle"></i> @ClientBaseControlWebApp.Resources.Resource.DeleteButton</a>
			</div>
		</div>
		<div class="row bg-lightBlue ps-4 p-1 mt-0">
			@if (Model.Client.Birthday == null)
			{
				<div class="h5"><i class="bi bi-calendar-event-fill"></i> -</div>
			}else
			{
				<div class="h5"><i class="bi bi-calendar-event-fill"></i> @Model.Client.Birthday.Value.ToShortDateString()</div>
			}
			@if(Model.Client.Email == null)
			{
				<div class="h5"><i class="bi bi-envelope-fill"></i> -</div>
			}else
			{
				<div class="h5"><i class="bi bi-envelope-fill"></i> @Model.Client.Email</div>
			}

			@if (Model.Client.PhoneNumber == null)
			{
				<div class="h5"><i class="bi bi-telephone-fill"></i> -</div>
			}
			else
			{
				<div class="h5"><i class="bi bi-telephone-fill"></i> @Model.Client.PhoneNumber</div>
			}
			<div class="h5"><b>@ClientBaseControlWebApp.Resources.Resource.ClientNumberOfProceduresLabel:</b> @Model.Client.NumberOfProcedures</div>
		</div>
		<div class="row mt-4">
			<div class="h4 bg-primary bg-opacity-25 p-2 ps-3 mb-0"><b>@ClientBaseControlWebApp.Resources.Resource.ClientInitialNoteLabel:</b></div>
			<div class="h5 bg-lightBlue ps-4 p-3 mt-0">@Model.Client.InitialComment</div>
		</div>
		@if (Model.Client.HasAllergy == 1)
		{
			<div class="row mt-4">
				<div class="h4 text-danger"><b>@ClientBaseControlWebApp.Resources.Resource.HasAllergyWarning</b></div>
				<div class="h4 bg-primary bg-opacity-25 p-2 ps-3 mb-0"><b>@ClientBaseControlWebApp.Resources.Resource.ClientAllergiesLabel:</b></div>
				<div class="h5 h5 bg-lightBlue ps-4 p-3 mt-0">@Model.Client.AllergiesComment</div>
			</div>
		}else{
			<div class="row mt-4">
				<div class="h4 bg-primary bg-opacity-25 p-2 ps-3 mb-0"><b>@ClientBaseControlWebApp.Resources.Resource.NoAllergy</b></div>
			</div>
		}
		<div class="row mt-4">
			<div class="h4 bg-primary bg-opacity-25 p-2 ps-3 mb-0"><b>@ClientBaseControlWebApp.Resources.Resource.ClientMainNoteLabel:</b></div>
			<div class="h5 h5 bg-lightBlue ps-4 p-3 mt-0">@Model.Client.MainComment</div>
		</div>
		<form asp-controller="Clients" asp-action="EditAppearance" method="post" class="form-inline row mt-4">
				<div class="align-items-center d-flex mb-0 bg-primary bg-opacity-25 mb-1">
					<div class="h3 p-2 ps-1 mb-0 col-5"><b>@ClientBaseControlWebApp.Resources.Resource.Appearance</b></div>
					<div class="col-7">
						<div class="float-end">
							<button class="btn btn-primary" id="EditAppearanceButton"><i class="bi bi-pen"></i> @ClientBaseControlWebApp.Resources.Resource.EditButton</button>
							<button class="btn btn-success" type="submit" id="SaveAppearanceButton" disabled asp-route-id="@Model.Client.Id"><i class="bi bi-check-circle"></i> @ClientBaseControlWebApp.Resources.Resource.SaveButton</button>
						</div>
					</div>
				</div>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="Client.Id" />
				<input type="hidden" asp-for="Appearance.Id" />
				<div class="form-group p-1 ps-4 d-flex align-items-center bg-lightBlue mb-1">
					<label asp-for="Appearance.SkinType" class="control-label h5 col-3">@ClientBaseControlWebApp.Resources.Resource.SkinType:</label>
					<div class="col-4 col-sm-6 col-md-6 col-lg-4">
						<select asp-for="Appearance.SkinType" disabled class="form-select h5" id="Appearance.SkinType" value="@ClientBaseControlWebApp.Resources.Resource.ChooseSelection">
							@if (Model.Appearance.SkinType == null)
							{
								<option selected value="@null">@ClientBaseControlWebApp.Resources.Resource.NotChosen</option>
							}
							<option value="NormalSkin">@ClientBaseControlWebApp.Resources.Resource.NormalSkin</option>
							<option value="DrySkin">@ClientBaseControlWebApp.Resources.Resource.DrySkin</option>
							<option value="FatSkin">@ClientBaseControlWebApp.Resources.Resource.FatSkin</option>
						</select>
					</div>
					<span asp-validation-for="Appearance.SkinType" class="text-danger"></span>
				</div>
				<div class="form-group p-1 ps-4 d-flex align-items-center bg-lightBlue mb-1">
					<label asp-for="Appearance.NeedleType" class="control-label h5 col-3">@ClientBaseControlWebApp.Resources.Resource.NeedleType:</label>
					<div class="col-4 col-sm-6 col-md-6 col-lg-4">
						<select asp-for="Appearance.NeedleType" disabled class="form-select h5" id="Appearance.NeedleType" value="@ClientBaseControlWebApp.Resources.Resource.ChooseSelection">
							@if (Model.Appearance.NeedleType == null)
							{
							<option selected value="@null ">@ClientBaseControlWebApp.Resources.Resource.NotChosen</option>
							}
							<option value="NormalSkin">@ClientBaseControlWebApp.Resources.Resource.NormalSkin</option>
							<option value="DrySkin">@ClientBaseControlWebApp.Resources.Resource.DrySkin</option>
							<option value="FatSkin">@ClientBaseControlWebApp.Resources.Resource.FatSkin</option>
						</select>
					</div>
					<span asp-validation-for="Appearance.NeedleType" class="text-danger"></span>
				</div>
				<div class="form-group p-1 ps-4 d-flex align-items-center bg-lightBlue mb-1">
					<label asp-for="Appearance.EyeColor" class="control-label h5 col-3">@ClientBaseControlWebApp.Resources.Resource.EyeColor:</label>
					<div class="col-4 col-sm-6 col-md-6 col-lg-4">
						<select asp-for="Appearance.EyeColor" disabled class="form-select h5" id="Appearance.EyeColor" value="@ClientBaseControlWebApp.Resources.Resource.ChooseSelection">
							@if (Model.Appearance.EyeColor == null)
							{
								<option selected value="@null">@ClientBaseControlWebApp.Resources.Resource.NotChosen</option>
							}
							<option value="BrownEyes">@ClientBaseControlWebApp.Resources.Resource.BrownColor</option>
							<option value="GrayEyes">@ClientBaseControlWebApp.Resources.Resource.GrayColor</option>
							<option value="GreenEyes">@ClientBaseControlWebApp.Resources.Resource.GreenColor</option>
							<option value="LightGreenEyes">@ClientBaseControlWebApp.Resources.Resource.LightGreenColor</option>
							<option value="BlueEyes">@ClientBaseControlWebApp.Resources.Resource.BlueColor</option>
							<option value="LightBlueEyes">@ClientBaseControlWebApp.Resources.Resource.LightBlueColor</option>
							<option value="RedEyes">@ClientBaseControlWebApp.Resources.Resource.RedColor</option>
						</select>
					</div>
					<span asp-validation-for="Appearance.EyeColor" class="text-danger"></span>
				</div>
				<div class="form-group p-1 ps-4 d-flex align-items-center bg-lightBlue mb-1">
					<label asp-for="Appearance.HairColor" class="control-label h5 col-3">@ClientBaseControlWebApp.Resources.Resource.HairColor:</label>
					<div class="col-4 col-sm-6 col-md-6 col-lg-4">
						<select asp-for="Appearance.HairColor" disabled class="h5 form-select" id="Appearance.HairColor" value="@ClientBaseControlWebApp.Resources.Resource.ChooseSelection">
							@if (Model.Appearance.HairColor == null)
							{
							<option selected value="@null">@ClientBaseControlWebApp.Resources.Resource.NotChosen</option>
							}
							<option value="BlackHair">@ClientBaseControlWebApp.Resources.Resource.BlackHairColor</option>
							<option value="BrownHair">@ClientBaseControlWebApp.Resources.Resource.BrownHairColor</option>
							<option value="LightBrownHair">@ClientBaseControlWebApp.Resources.Resource.LightBrownHairColor</option>
							<option value="BlondeHair">@ClientBaseControlWebApp.Resources.Resource.BlondeHairColor</option>
							<option value="GrayHair">@ClientBaseControlWebApp.Resources.Resource.GrayHairColor</option>
							<option value="GingerHair">@ClientBaseControlWebApp.Resources.Resource.GingerHairColor</option>
						</select>
					</div>
					<span asp-validation-for="Appearance.HairColor" class="text-danger"></span>
				</div>
				<div class="form-group p-1 ps-4 d-flex align-items-center bg-lightBlue mb-1">
					<label asp-for="Appearance.MembraneColor" class="control-label h5 col-3">@ClientBaseControlWebApp.Resources.Resource.MembraneColor:</label>
					<div class="col-4 col-sm-6 col-md-6 col-lg-4">
						<select asp-for="Appearance.MembraneColor" disabled class="form-select h5" id="Appearance.MembraneColor" value="@ClientBaseControlWebApp.Resources.Resource.ChooseSelection">
							@if (Model.Appearance.MembraneColor == null)
							{
							<option selected value="@null">@ClientBaseControlWebApp.Resources.Resource.NotChosen</option>
							}
							<option value="WarmPinkMembrane">@ClientBaseControlWebApp.Resources.Resource.ColdPinkShade</option>
							<option value="ColdPinkMembrane">@ClientBaseControlWebApp.Resources.Resource.WarmPinkShade</option>
						</select>
					</div>
					<span asp-validation-for="Appearance.MembraneColor" class="text-danger"></span>
				</div>
				<div class="form-group p-1 ps-4 d-flex align-items-center bg-lightBlue mb-1">
					<label asp-for="Appearance.HasCapillaries" class="control-label h5 col-3">@ClientBaseControlWebApp.Resources.Resource.HasCapillaries:</label>
					<div class="col-4 col-sm-6 col-md-6 col-lg-4">
						<select asp-for="Appearance.HasCapillaries" disabled class="form-select h5" id="Appearance.HasCapillaries" value="@ClientBaseControlWebApp.Resources.Resource.ChooseSelection">
							@if (Model.Appearance.HasCapillaries == null)
							{
								<option selected value="@null">@ClientBaseControlWebApp.Resources.Resource.NotChosen</option>
							}
							<option value="HasCapillaries">@ClientBaseControlWebApp.Resources.Resource.Has</option>
							<option value="DoesNotHaveCapillaries">@ClientBaseControlWebApp.Resources.Resource.DoesNotHave</option>
						</select>
					</div>
					<span asp-validation-for="Appearance.HasCapillaries" class="text-danger"></span>
				</div>
				<div class="form-group p-1 ps-4 d-flex align-items-center bg-lightBlue mb-1">
					<label asp-for="Appearance.HasTan" class="control-label h5 col-3">@ClientBaseControlWebApp.Resources.Resource.HasTan:</label>
					<div class="col-4 col-sm-6 col-md-6 col-lg-4">
						<select asp-for="Appearance.HasTan" disabled class="form-select h5" id="Appearance.HasTan" value="@ClientBaseControlWebApp.Resources.Resource.ChooseSelection">
							@if (Model.Appearance.HasTan == null)
							{
							<option selected value="@null">@ClientBaseControlWebApp.Resources.Resource.NotChosen</option>
							}
							<option value="HasCapillaries">@ClientBaseControlWebApp.Resources.Resource.Has</option>
							<option value="DoesNotHaveCapillaries">@ClientBaseControlWebApp.Resources.Resource.DoesNotHave</option>
						</select>
					</div>
					<span asp-validation-for="Appearance.HasTan" class="text-danger"></span>
				</div>
				<div class="form-group p-1 ps-4 bg-lightBlue mb-1 pb-3 pe-3">
					<label asp-for="Appearance.Comment" class="control-label h5">@ClientBaseControlWebApp.Resources.Resource.CommentLabel:</label>
					<textarea asp-for="Appearance.Comment" class="form-control" id="AllergiesComment" rows="3" disabled></textarea>
					<span asp-validation-for="Appearance.Comment" class="text-danger"></span>
				</div>
			</form>
	</div>
</div>

@section Scripts {
	<script>
		$('#EditAppearanceButton').click(function () {
			$('.form-select').removeAttr('disabled');
			$('.form-control').removeAttr('disabled');
			$('#EditAppearanceButton').attr('disabled', 'disabled');
			$('#SaveAppearanceButton').removeAttr('disabled');
		});

	</script>
}