@using ClientBaseControlWebApp.Resources
@model ClientViewModel

@{
	ViewData["Title"] = "Edit client";
	ViewData["ImagesDirectoryDepth"] = "../../images";
}


<div class="row">
	<div class="col-8 m-auto mt-3">
		<p>
			<h1>@Resource.AddNewClient</h1>
		</p>
		<form asp-controller="Clients" asp-action="Edit" method="post" class="form-inline mt-4">
			<input hidden asp-for="Client.AppearanceId"/>
			<div class="row align-items-center d-flex mb-0 bg-primary bg-opacity-50">
				<div class="h2 p-2 ps-3 mb-0 col-9 d-flex">
					<div class="d-flex col-12">
						<div class="col-5">
							<input asp-for="Client.Name" type="text" class="form-control" id="Client.Name" placeholder="@Resource.ClientNameLabel" />
							<span asp-validation-for="Client.Name" class="text-danger"></span>
						</div>
						<div class="col-5 ms-1">
							<input asp-for="Client.Surname" type="text" class="form-control" id="Client.Surname" placeholder="@Resource.ClientSurnameLabel" />
							<span asp-validation-for="Client.Surname" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="h2 p-2 ps-3 mb-0 col-3 d-flex">
					<div class="d-flex col-12">
						<select asp-for="Client.IndicationColor" class="form-select h5" id="Client.IndicationColor">
							<option selected value="@null">@Resource.NotChosen</option>
							<option value="Green">@Resource.GreenColor</option>
							<option value="Yellow">@Resource.YellowColor</option>
							<option value="Red">@Resource.RedColor</option>
						</select>
						<span asp-validation-for="Client.IndicationColor" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="row bg-lightBlue ps-4 p-1 mt-0 d-block">
				<div class="h5 col-4">
					<label asp-for="Client.Birthday"><i class="bi bi-calendar-event-fill"></i> @Resource.ClientBirthdayLabel</label>
					<input asp-for="Client.Birthday" type="date" class="form-control" id="Client.Birthday" />
					<span asp-validation-for="Client.Birthday" class="text-danger"></span>
				</div>

				<div class="h5 col-4">
					<label asp-for="Client.Email"><i class="bi bi-envelope-fill"></i> @Resource.ClientEmailLabel</label>
					<input asp-for="Client.Email" type="email" class="form-control" id="Client.Email" />
					<span asp-validation-for="Client.Email" class=" text-danger"></span>
				</div>

				<div class="h5 col-4">
					<label asp-for="Client.PhoneNumber"><i class="bi bi-telephone-fill"></i> @Resource.ClientPhoneNumberLabel</label>
					<input asp-for="Client.PhoneNumber" type="text" class="form-control" id="Client.PhoneNumber" />
					<span asp-validation-for="Client.PhoneNumber" class=" text-danger"></span>
				</div>
				<div class="h5 col-4">
					<label asp-for="Client.NumberOfProcedures"><b>@Resource.ClientNumberOfProceduresLabel</b></label>
					<input asp-for="Client.NumberOfProcedures" type="number" class="form-control" id="Client.NumberOfProcedures" value="0" />
					<span asp-validation-for="Client.NumberOfProcedures" class=" text-danger"></span>
				</div>
			</div>
			<div class="row mt-4">

				<div class="h4 bg-primary bg-opacity-25 p-2 ps-3 mb-0">
					<label asp-for="Client.InitialComment" class="control-label"><b>@Resource.ClientInitialNoteLabel:</b></label>
				</div>
				<div class="h5 bg-lightBlue ps-4 p-3 mt-0">
					<textarea asp-for="Client.InitialComment" class="form-control" id="Client.InitialComment" rows="2"></textarea>
					<span asp-validation-for="Client.InitialComment" class="text-danger"></span>
				</div>
			</div>

			<input hidden asp-for="Client.HasAllergy" id="ClientAllergyInput" />
			<div class="row mt-4">
				<div class="h4 bg-primary bg-opacity-25 p-2 ps-3 mb-0 d-flex">
					<label asp-for="Client.HasAllergy" class="control-label"><b>@Resource.HasAllergyLabel:</b></label>
					<input type="checkbox" class="form-check-input form-check" id="Client_HasAllergy_checkbox" name="IsActive"/>

				</div>
				<div class="h5 h5 bg-lightBlue ps-4 p-3 mt-0">
					<textarea asp-for="Client.AllergiesComment" class="form-control" id="Client_Allergies_textarea" rows="2" disabled></textarea>
					<span asp-validation-for="Client.AllergiesComment" class="text-danger"></span>
				</div>
			</div>

			<div class="row mt-4">
				<div class="h4 bg-primary bg-opacity-25 p-2 ps-3 mb-0"><label asp-for="Client.MainComment" class="control-label"><b>@Resource.ClientMainNoteLabel:</b></label></div>
				<div class="h5 h5 bg-lightBlue ps-4 p-3 mt-0">
					<textarea asp-for="Client.MainComment" class="form-control" id="Client.MainComment" rows="2"></textarea>
					<span asp-validation-for="Client.MainComment" class="text-danger"></span>
				</div>
			</div>




			<div class="row align-items-center d-flex mb-0 bg-primary bg-opacity-25 mb-1 mt-4">
				<div class="h3 p-2 ps-3 mb-0 col-5"><b>@Resource.Appearance</b></div>
			</div>
			<input hidden asp-for="Appearance.Id"/>
			<div class="row form-group p-1 ps-4 d-flex align-items-center bg-lightBlue mb-1">
				<label asp-for="Appearance.SkinType" class="control-label h5 col-3">@Resource.SkinType:</label>
				<div class="col-4 col-sm-6 col-md-6 col-lg-4">
					<select asp-for="Appearance.SkinType" class="form-select h5" id="Appearance.SkinType" value="@Resource.ChooseSelection">
						<option selected value="@null">@Resource.NotChosen</option>
						<option value="NormalSkin">@Resource.NormalSkin</option>
						<option value="DrySkin">@Resource.DrySkin</option>
						<option value="FatSkin">@Resource.FatSkin</option>
					</select>
				</div>
				<span asp-validation-for="Appearance.SkinType" class="text-danger"></span>
			</div>
			<div class="row form-group p-1 ps-4 d-flex align-items-center bg-lightBlue mb-1">
				<label asp-for="Appearance.NeedleType" class="control-label h5 col-3">@Resource.NeedleType:</label>
				<div class="col-4 col-sm-6 col-md-6 col-lg-4">
					<select asp-for="Appearance.NeedleType" class="form-select h5" id="Appearance.NeedleType" value="@Resource.ChooseSelection">
						<option selected value="@null ">@Resource.NotChosen</option>
						<option value="NormalSkin">@Resource.NormalSkin</option>
						<option value="DrySkin">@Resource.DrySkin</option>
						<option value="FatSkin">@Resource.FatSkin</option>
					</select>
				</div>
				<span asp-validation-for="Appearance.NeedleType" class="text-danger"></span>
			</div>
			<div class="row form-group p-1 ps-4 d-flex align-items-center bg-lightBlue mb-1">
				<label asp-for="Appearance.EyeColor" class="control-label h5 col-3">@Resource.EyeColor:</label>
				<div class="col-4 col-sm-6 col-md-6 col-lg-4">
					<select asp-for="Appearance.EyeColor" class="form-select h5" id="Appearance.EyeColor" value="@Resource.ChooseSelection">
						<option selected value="@null">@Resource.NotChosen</option>
						<option value="BrownEyes">@Resource.BrownColor</option>
						<option value="GrayEyes">@Resource.GrayColor</option>
						<option value="GreenEyes">@Resource.GreenColor</option>
						<option value="LightGreenEyes">@Resource.LightGreenColor</option>
						<option value="BlueEyes">@Resource.BlueColor</option>
						<option value="LightBlueEyes">@Resource.LightBlueColor</option>
						<option value="RedEyes">@Resource.RedColor</option>
					</select>
				</div>
				<span asp-validation-for="Appearance.EyeColor" class="text-danger"></span>
			</div>
			<div class="row form-group p-1 ps-4 d-flex align-items-center bg-lightBlue mb-1">
				<label asp-for="Appearance.HairColor" class="control-label h5 col-3">@Resource.HairColor:</label>
				<div class="col-4 col-sm-6 col-md-6 col-lg-4">
					<select asp-for="Appearance.HairColor" class="h5 form-select" id="Appearance.HairColor" value="@Resource.ChooseSelection">
						<option selected value="@null">@Resource.NotChosen</option>
						<option value="BlackHair">@Resource.BlackHairColor</option>
						<option value="BrownHair">@Resource.BrownHairColor</option>
						<option value="LightBrownHair">@Resource.LightBrownHairColor</option>
						<option value="BlondeHair">@Resource.BlondeHairColor</option>
						<option value="GrayHair">@Resource.GrayHairColor</option>
						<option value="GingerHair">@Resource.GingerHairColor</option>
					</select>
				</div>
				<span asp-validation-for="Appearance.HairColor" class="text-danger"></span>
			</div>
			<div class="row form-group p-1 ps-4 d-flex align-items-center bg-lightBlue mb-1">
				<label asp-for="Appearance.MembraneColor" class="control-label h5 col-3">@Resource.MembraneColor:</label>
				<div class="col-4 col-sm-6 col-md-6 col-lg-4">
					<select asp-for="Appearance.MembraneColor" class="form-select h5" id="Appearance.MembraneColor" value="@Resource.ChooseSelection">
						<option selected value="@null">@Resource.NotChosen</option>
						<option value="WarmPinkMembrane">@Resource.ColdPinkShade</option>
						<option value="ColdPinkMembrane">@Resource.WarmPinkShade</option>
					</select>
				</div>
				<span asp-validation-for="Appearance.MembraneColor" class="text-danger"></span>
			</div>
			<div class="row form-group p-1 ps-4 d-flex align-items-center bg-lightBlue mb-1">
				<label asp-for="Appearance.HasCapillaries" class="control-label h5 col-3">@Resource.HasCapillaries:</label>
				<div class="col-4 col-sm-6 col-md-6 col-lg-4">
					<select asp-for="Appearance.HasCapillaries" class="form-select h5" id="Appearance.HasCapillaries" value="@Resource.ChooseSelection">
						<option selected value="@null">@Resource.NotChosen</option>
						<option value="HasCapillaries">@Resource.Has</option>
						<option value="DoesNotHaveCapillaries">@Resource.DoesNotHave</option>
					</select>
				</div>
				<span asp-validation-for="Appearance.HasCapillaries" class="text-danger"></span>
			</div>
			<div class="row form-group p-1 ps-4 d-flex align-items-center bg-lightBlue mb-1">
				<label asp-for="Appearance.HasTan" class="control-label h5 col-3">@Resource.HasTan:</label>
				<div class="col-4 col-sm-6 col-md-6 col-lg-4">
					<select asp-for="Appearance.HasTan" class="form-select h5" id="Appearance.HasTan" value="@Resource.ChooseSelection">
						<option selected value="@null">@Resource.NotChosen</option>
						<option value="HasCapillaries">@Resource.Has</option>
						<option value="DoesNotHaveCapillaries">@Resource.DoesNotHave</option>
					</select>
				</div>
				<span asp-validation-for="Appearance.HasTan" class="text-danger"></span>
			</div>
			<div class="row form-group p-1 ps-4 bg-lightBlue mb-1 pb-3 pe-3">
				<label asp-for="Appearance.Comment" class="control-label h5">@Resource.CommentLabel:</label>
				<textarea asp-for="Appearance.Comment" class="form-control" id="AllergiesComment" rows="3"></textarea>
				<span asp-validation-for="Appearance.Comment" class="text-danger"></span>
			</div>

			<div class="form-group mt-2">
				<button class="btn btn-outline-secondary" asp-controller="Clients" asp-action="Index"><i class="bi bi-card-list"></i> @Resource.ReturnBack</button>
				<button type="reset" class="btn btn-outline-warning"><i class="bi bi-arrow-clockwise"></i> @Resource.ResetButton</button>
				<button type="submit" class="btn btn-outline-success float-end"><i class="bi bi-check-circle"></i> @Resource.SaveButton</button>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			if ($('#ClientAllergyInput').val() == 1) {
				$('#Client_HasAllergy_checkbox').prop('checked', true);
				$('#Client_Allergies_textarea').prop('disabled', false);
			} else {
				$('#Client_Allergies_textarea').prop('disabled', true);
				$('#ClientAllergyInput').val('0');
			}

			$('#Client_HasAllergy_checkbox').change(function () {
				if ($(this).is(':checked')) {
					$('#Client_Allergies_textarea').prop('disabled', false);
					$('#ClientAllergyInput').val('1');
				} else {
					$('#Client_Allergies_textarea').prop('disabled', true);
					$('#ClientAllergyInput').val('0');
				}
			});
		});
	</script>
}