<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClientBaseControlWebApp</title>
    <script src="~/lib//jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-icons/font/bootstrap-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClientBaseControlWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand col-3 accept-policy text-center" asp-area="" asp-controller="Home" asp-action="Index">Client Base Control</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse col-9" >
                    <ul class="navbar-nav col-8 h5">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Clients" asp-action="Index">@ClientBaseControlWebApp.Resources.Resource.ClientsNav</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="ProcedureRecords" asp-action="Index">@ClientBaseControlWebApp.Resources.Resource.ProceduresNav</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">@ClientBaseControlWebApp.Resources.Resource.EmployeesNav</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">@ClientBaseControlWebApp.Resources.Resource.DocumentsNav</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span>@ClientBaseControlWebApp.Resources.Resource.ConfigurationNav</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item p-2" asp-controller="Materials" asp-action="Index">@ClientBaseControlWebApp.Resources.Resource.MaterialsNav</a>
                                </li>
                                <li>
                                    <a class="dropdown-item p-2" asp-controller="ProcedureTypes" asp-action="Index">@ClientBaseControlWebApp.Resources.Resource.ProcedureTypesNav</a>
                                </li>
                                <li>
                                    <a class="dropdown-item p-2" asp-controller="Home" asp-action="Privacy">@ClientBaseControlWebApp.Resources.Resource.AccountingNav</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav text-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                               @* @if (Thread.CurrentThread.CurrentCulture.ToString() == "en")
                                {
                                    <span><img src="images/country_flags/uk_flag.png" class="small-flag"> English</span>
                                }else{
                                    <span><img src="images/country_flags/ua_flag.png" class="small-flag"> Українська</span>
                                }*@
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-lang="en">@*<img src="images/country_flags/uk_flag.png" class="small-flag">*@ English</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-lang="uk">@*<img src="images/country_flags/ua_flag.png" class="small-flag">*@ Українська</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <partial name="_LoginPartial" />


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ClientBaseControlWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
