@using ClientBaseControlWebApp.Resources
@using ClientBaseControlWebApp.Data.Services;
@model ProcedureType

@{
    ViewData["Title"] = "Create a new type";
    ViewData["ImagesDirectoryDepth"] = "../images";
}


<div class="col-md-8 m-auto">
    <p>
        <h1>@Resource.ProcedureTypesNav</h1>
    </p>
    <div class="bg-primary bg-opacity-75 d-flex p-1">
        <div class="col-7">
            <form class="form-inline d-flex" asp-action="Index"> 
                <input class="form-control" type="search" placeholder="@Resource.SearchBar" aria-label="@Resource.SearchBar" name="searchValue">
                <button class="btn btn-primary d-flex" type="submit"><i class="bi bi-search m-1 mt-0 mb-0"></i> @Resource.SearchBar</button>
            </form>
        </div>
        <div class="col-5 d-flex">
            <div class="m-auto">
                <a class="btn btn-primary" asp-area="" asp-controller="ProcedureTypes" asp-action="Create"><i class="bi bi-plus-circle"></i> @Resource.AddProcedureType</a>
            </div>
        </div>
    </div>
    
    <form asp-action="Create" class="w-100 text-dark d-flex p-2 border-top mb-4">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-6">       
                <input asp-for="Name" class="form-control" id="Name" placeholder="@Resource.NameLabel" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 d-flex">
                <div class="m-auto">
                <button class="btn btn-outline-danger" asp-controller="ProcedureTypes" asp-action="Index"><i class="bi bi-x-circle"></i> @Resource.CancelButton</button>
					<button type="reset" class="btn btn-outline-warning"><i class="bi bi-arrow-clockwise"></i> @Resource.ResetButton</button>
					<button type="submit" class="btn btn-outline-success"><i class="bi bi-check-circle"></i> @Resource.SaveButton</button>
                </div>
            </div>
    </form>
    @foreach (ProcedureType procedureType in ViewBag.ProcedureTypes)
    {
        
        <div class="w-100 text-dark d-flex p-2 border-top">

            <div class="col-lg-7 col-md-7 col-sm-6">
                <div class="d-flex">
                    <div class="h4">
                        @procedureType.Name
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 d-flex">
                <div class="m-auto">
                    <a class="btn btn-outline-primary" asp-area="" asp-controller="ProcedureTypes" asp-action="Edit" asp-route-id="@procedureType.Id"><i class="bi bi-pen"></i> @Resource.EditButton</a>
                    <a class="btn btn-outline-danger" asp-area="" asp-controller="ProcedureTypes" asp-action="Delete" asp-route-id="@procedureType.Id"><i class="bi bi-x-circle"></i> @Resource.DeleteButton</a>
                </div>
            </div>

        </div>
    }
</div>