@using ClientBaseControlWebApp.Data.Services;
@model ProcedureType


@{
    ViewData["Title"] = "Delete";
}


<div class="col-md-8 m-auto">
    <p>
        <h1>@ClientBaseControlWebApp.Resources.Resource.ProcedureTypesNav</h1>
    </p>
    <div class="bg-primary bg-opacity-75 d-flex p-1">
        <div class="col-7">
            <form class="form-inline d-flex" asp-action="Index">
                <input class="form-control" type="search" placeholder="@ClientBaseControlWebApp.Resources.Resource.SearchBar" aria-label="@ClientBaseControlWebApp.Resources.Resource.SearchBar" name="searchValue">
                <button class="btn btn-primary d-flex" type="submit"><i class="bi bi-search m-1 mt-0 mb-0"></i> @ClientBaseControlWebApp.Resources.Resource.SearchBar</button>
            </form>
        </div>
        <div class="col-5 d-flex">
            <div class="m-auto">
                <a class="btn btn-primary" asp-area="" asp-controller="ProcedureTypes" asp-action="Create"><i class="bi bi-plus-circle"></i> @ClientBaseControlWebApp.Resources.Resource.AddProcedureType</a>
            </div>
        </div>
    </div>
    
    <form asp-action="Delete" class="w-100 text-dark p-2 border-top mb-4">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <div class="row">
            <h4 class=""><b>@ClientBaseControlWebApp.Resources.Resource.ProcedureTypeDeleteConfirmation</b></h4>
            </div>
            <div class="row d-flex">
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <input disabled asp-for="Name" class="form-control" id="Name" placeholder="@ClientBaseControlWebApp.Resources.Resource.NameLabel" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 d-flex">
                    <div class="m-auto">
                    <button class="btn btn-outline-primary" asp-controller="ProcedureTypes" asp-action="Index"><i class="bi bi-arrow-left-circle"></i> @ClientBaseControlWebApp.Resources.Resource.CancelButton</button>
                        <button type="submit" class="btn btn-outline-danger"><i class="bi bi-x-circle"></i> @ClientBaseControlWebApp.Resources.Resource.DeleteButton</button>
                    </div>
                </div>
            </div>
            
    </form>
    @foreach (ProcedureType procedureType in ViewBag.ProcedureTypes)
    {
        @if (procedureType.Id != Model.Id)
        {
            <div class="w-100 text-dark d-flex p-2 border-top">

                <div class="col-lg-7 col-md-7 col-sm-6">
                    <div class="d-flex">
                        <div class="h4">
                            @procedureType.Name
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 d-flex">
                    <div class="m-auto">
                        <a class="btn btn-outline-primary" asp-area="" asp-controller="ProcedureTypes" asp-action="Edit" asp-route-id="@procedureType.Id"><i class="bi bi-pen"></i> @ClientBaseControlWebApp.Resources.Resource.EditButton</a>
                        <a class="btn btn-outline-danger" asp-area="" asp-controller="ProcedureTypes" asp-action="Delete" asp-route-id="@procedureType.Id"><i class="bi bi-x-circle"></i> @ClientBaseControlWebApp.Resources.Resource.DeleteButton</a>
                    </div>
                </div>

            </div>
        }
    }
</div>