@using ClientBaseControlWebApp.Resources
@using ClientBaseControlWebApp.Data.Enums;
@model Material

@{
	ViewData["Title"] = "Delete material";
	ViewData["ImagesDirectoryDepth"] = "../../images";
	string materialIcon;
}


<div class="row">
	<div class="col-md-8 offset-2">
		<p>
			<h1>@Resource.MaterialsNav</h1>
		</p>
		<div class="bg-primary bg-opacity-75 d-flex p-1">
			<div class="col-7">
				<form class="form-inline d-flex" asp-action="Index">
					<input class="form-control" type="search" placeholder="@Resource.SearchBar" aria-label="@Resource.SearchBar" name="searchValue">
					<button class="btn btn-primary d-flex" type="submit"><i class="bi bi-search m-1 mt-0 mb-0"></i> @Resource.SearchBar</button>
				</form>
			</div>
			<div class="col-5 d-flex">
				<div class="m-auto">
					<a class="btn btn-primary" asp-area="" asp-controller="Materials" asp-action="Create"><i class="bi bi-plus-circle"></i> @Resource.AddNewMaterial</a>
				</div>
			</div>
		</div>

		<div class="w-100 p-2 pt-4 bg-lightBlue text-dark h3 mb-0">
			@Resource.MaterialDeleteConfirmation
		</div>
		<div class="w-100 text-dark d-flex p-2 pb-5 bg-lightBlue mt-0">
			<div class="col-lg-5 col-md-5 col-sm-4">
				<div class="d-flex">
					<div class="h4">
						@if (Model.MaterialType == 0)
						{
							materialIcon = "bi bi-droplet-half";
						}
						else if (Model.MaterialType == 1)
						{
							materialIcon = "bi bi-pen-fill";
						}
						else
						{
							materialIcon = "bi bi-shuffle";
						}
						<i class="@materialIcon"></i>
						<b>@Model.Name</b>
					</div>
				</div>
			</div>
			<div class="col-1 border-start border-end text-center h5 lh-base">
				@Model.Amount
			</div>
			<div class="col-1 h5 lh-base text-center border-end">
				@if (Model.UnitsOfMeasurement == 0)
				{
					@Resource.PiecesUnit
				}
				else if (Model.UnitsOfMeasurement == 1)
				{
					@Resource.MgUnit
				}
				else
				{
					@Resource.MlUnit
				}
			</div>
			<div class="col-lg-4 col-md-4 col-sm-5 d-flex">
				<div class="m-auto">
					<form asp-action="Delete">
						<button type="submit" class="btn btn-outline-danger"><i class="bi bi-check-circle"></i> @Resource.DeleteButton</button>
						<button class="btn btn-outline-primary" asp-controller="Materials" asp-action="Index"><i class="bi bi-arrow-left-circle"></i> @Resource.CancelButton</button>
					</form>
				</div>
			</div>
		</div>

		@foreach (Material material in ViewBag.Materials)
		{
			@if (material.Id != Model.Id)
			{
				<div class="w-100 text-dark d-flex p-2 border-top">

					<div class="col-lg-5 col-md-5 col-sm-4">
						<div class="d-flex">
							<div class="h4">
								@if (material.MaterialType == 0)
								{
									materialIcon = "bi bi-droplet-half";
								}
								else if (material.MaterialType == 1)
								{
									materialIcon = "bi bi-pen-fill";
								}
								else
								{
									materialIcon = "bi bi-shuffle";
								}
								<i class="@materialIcon"></i>
								<b>@material.Name</b>
							</div>
						</div>
					</div>
					<div class="col-1 border-start border-end text-center h5 lh-base">
						@material.Amount
					</div>
					<div class="col-1 h5 lh-base text-center border-end">
						@if (material.UnitsOfMeasurement == 0)
						{
							@Resource.PiecesUnit
						}
						else if (material.UnitsOfMeasurement == 1)
						{
							@Resource.MgUnit
						}
						else
						{
							@Resource.MlUnit
						}
					</div>
					<div class="col-lg-5 col-md-5 col-sm-6 d-flex">
						<div class="m-auto">
							<a class="btn btn-outline-primary" asp-area="" asp-controller="Materials" asp-action="Details" asp-route-id="@material.Id"><i class="bi bi-card-text"></i> @Resource.DetailsButton</a>
							<a class="btn btn-outline-primary" asp-area="" asp-controller="Materials" asp-action="Edit" asp-route-id="@material.Id"><i class="bi bi-pen"></i> @Resource.EditButton</a>
							<a class="btn btn-outline-danger" asp-area="" asp-controller="Materials" asp-action="Delete" asp-route-id="@material.Id"><i class="bi bi-x-circle"></i> @Resource.DeleteButton</a>
						</div>
					</div>

				</div>
			}
		}
	</div>
</div>
